/*---Layout---*/
.fixed .wrapper, .main-header .logo, .user-panel {
    overflow: hidden;
}
.layout-boxed {
    .wrapper {
        max-width: 1250px;
        margin: 0 auto;
        min-height: $p100;
        box-shadow: 0px 5px 10px 1px rgba(lighten($black, 35%), 0.2);
        position: relative;
    }
}
.content-wrapper, .main-footer{
    @include transition(transform .3s ease-in-out, margin .3s ease-in-out);
    margin-left: $sid-bar-w;
    z-index: 820;
}


@include screen-md {
    .sidebar-collapse .content-wrapper, .sidebar-collapse .main-footer {
        margin-left: 0;
    }
}
.content-wrapper {
    min-height: $p100;
    background-color: transparent;
    @include transition(all .5s ease-in-out);
	overflow: hidden;
}
.main-footer{
    background-color: rgba($white, 0);
    padding: 15px;
    border-top: 0px solid lighten($dark, 80%);
	z-index: 999;
    position: relative;
    .nav{
        margin-top: -10px;
    }
} 
.fixed{
    .left-side{
        position: fixed;
    }
    .main-header{
        position: fixed;
        z-index: 810;
        top: 0;
        right: 0;
        left: 0;
    }
    .main-sidebar{
        position: fixed;
    }
    .content-wrapper{
        padding-top: $main-hed-nav;
    }
    .right-side{
        padding-top: $main-hed-nav; 
    }
}

@include screen-sm-max {
    .content-wrapper{
        margin-left: 0;
    }
    .main-footer{
        margin-left: 0;
    }
    .fixed{
        .content-wrapper{
            padding-top: $hed-max;
        }
        .right-side {
            padding-top: $hed-max;
        }
    }
}

.fixed{
    &layout-boxed{
        .wrapper {
            max-width: $p100;
        }
    }
}
.hold-transition .content-wrapper, .hold-transition .left-side, .hold-transition .main-footer, .hold-transition .main-header .logo, .hold-transition .main-header .navbar, .hold-transition .main-sidebar, .hold-transition .menu-open .fa-angle-left, .hold-transition .right-side {
    @include transition(none);
}
.content {
    min-height: 250px;
    padding: 30px 30px 0px 30px;
    margin-right: auto;
    margin-left: auto;
}
.layout-top-nav {
    .content-wrapper{
    .content {
        padding: 10px 15px 0px 15px;
        margin-right: auto;
        margin-left: auto;
    }
    }
}

/*---art shape---*/
.art-bg{
	top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background-attachment: fixed;
	z-index: -1;
    min-height: 400px;
    img{
        left: -2px;
        width: 100%;
        height: auto;
        bottom: -32px;
        position: absolute;
        transform: scale(1.1,0.8);
        transform-origin: bottom;
        &.light-img{
            display: block;
        }
        &.dark-img{
            display: none;
        }
    }
}
.dark-skin{
    .art-bg {
        img{
            &.dark-img{
              display: block;  
            }
            &.light-img{
              display: none;  
            }
        } 
    }
    &.onlyfull{
        .art-bg {
            .art-img{
                display: none;
            }
        }
    }
} 
.onlyheader{ 
    .art-bg{
        min-height: $main-hed-nav;
        .art-img{
            display: none;
        }
    }
}
.onlyfull{
    .art-bg{
        min-height: 100%;	
        .art-img{
            display: none;
        }
    }
}

@include screen-sm-max {
    .layout-top-nav.fixed {
        .main-header {
            position: relative;
        }
        .main-nav {
            margin-top: 0;
            position: relative;
        }
        .content-wrapper {
            padding-top: 0px;
        }
        .main-menu-btn {
            margin: -40px 10px 0 20px;
        }
    }
}



