// Variables

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

$bodyfont:'Nunito Sans', sans-serif;
$headingfont:'Nunito Sans', sans-serif; 

$p100: 100%;

$sid-bar-w: 250px;
$hed-max: 120px;
$main-hed-nav: 60px;
$default-border-radius: 10px;
$fct-border-radius: 10px;
$border-circle: 50%;
$mini-sid-bar-w: 60px;
$ctrl-sid-bar-w: 345px;
$inn-pg-sid-bar-w: 280px;

// Typography
//
// Font-size, font-weight


$fw-unset:unset;
$fw-100:100;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;
$fw-light: 100;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-0: 0;
$fs-10: 0.7143rem;
$fs-12: 0.8571rem;
$fs-14: 1rem;
$fs-16: 1.143rem;
$fs-18: 1.286rem;
$fs-20: 1.429rem;
$fs-22: 1.5714285714285714rem;
$fs-24: 1.714rem;
$fs-26: 1.857rem;
$fs-30: 2.143rem;
$fs-32: 2.2857142857142856rem;
$fs-36: 2.5714285714285716rem;
$fs-38: 2.7142857142857144rem;
$fs-40: 2.857rem;
$fs-42: 3rem;
$fs-46: 3.2857142857142856rem;
$fs-48: 3.4285714285714284rem;
$fs-50: 3.571rem;
$fs-60: 4.286rem;
$fs-70: 5rem;
$fs-72: 5.142857142857143rem;
$fs-76: 5.428571428571429rem;
$fs-78: 5.571428571428571rem;
$fs-80: 5.714rem;
$fs-100: 7.142857142857143rem;
$fs-140: 10rem ;
$fs-180: 12.857142857142858rem;
$fs-200: 14.285714285714286rem ;

/*Social Media Colors*/
$facebook: #3b5998;
$google: #dd4b39;
$twitter: #1da1f2;
$linkedin: #0077b5;
$pinterest: #bd081c;
$git: #6cc644;
$tumblr: #35465c;
$vimeo: #1ab7ea;
$youtube: #ff0000;
$flickr: #ff0084;
$reddit: #ff4500;
$dribbble: #ea4c89;
$skype: #00aff0;
$instagram: #e1306c;
$lastfm: #d51007;
$behance: #1769ff;
$rss: #f26522;
$bitbucket: #205081;
$dropbox: #007ee5;
$foursquare: #2d5be3;
$github: #4078c0;
$vk: #45668e;

/*Theme Colors*/

$dark: #475f7b;
$light:#d5dfea;
$light2:#fafafa;
$light3: #f2f4f4;
$light4: #dfe3e7;
$light5: #bac0c7;
$white:#ffffff;
$black:#000000;
$danger:#FF5B5C;
$warning:#FDAC41;
$success:#39DA8A;
$primary:#5A8DEE;
$info:#00CFDD;
$secondary:#475F7B;
$mildgray: #bcc2c8;

/*Theme Colors For Dark*/
$body-dark: #1a233a;
$dark-text: #8a99b5;
$dark2: #566f9e;
$dark3: #272e48;
$dark-title: #bdd1f8;

$colors: (
  'primary':   $primary,
  'success':   $success,
  'info':      $info,
  'warning':   $warning,
  'danger':    $danger,
  'dark':      $dark,
  'white':     $white,
  'black':     $black,
  'light':     $light,
);

$gray-100:      #f3f6f7;
$gray-200:      #eff2f9;
$gray-300:      #dbe0ec;
$gray-400:      #b6c2e4;
$gray-500:      #8997bd;
$gray-600:      #7081b9;
$gray-700:      #50649c;
$gray-800:      #435177;
$gray-900:      #1c2d41;


$theme-classic-primary: #5A8DEE;
$theme-classic-info: #00CFDD;
$theme-classic-success: #39DA8A;
$theme-classic-danger: #FF5B5C;
$theme-classic-warning: #FDAC41;

$theme-classic-primary-lite: #e1f0ff;
$theme-classic-secondary-lite:#e9edf2;
$theme-classic-info-lite: #ede6fb;
$theme-classic-success-lite: #c9f7f5;
$theme-classic-danger-lite: #ffe2e5;
$theme-classic-warning-lite: #fff4de;

$theme-classic-grd: linear-gradient(-45deg, $theme-classic-primary 0%, $theme-classic-primary 33%, $theme-classic-warning 100%);
$theme-classic-grd-dark: linear-gradient(-45deg, darken($theme-classic-primary, 20%) 0%, darken($theme-classic-primary, 20%) 33%, darken($theme-classic-warning, 20%) 100%);

